.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.heading-image{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size:contain ;
    background-position: top left,right bottom;

}
    

.r_style{
  color: #e4813b;
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 4px 150px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
    
    gap: 20px;
    
}
.primary-button{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 11px 18px;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    margin: 34px 150px;
}
.banner h3{
    font-size: 25px;
    opacity: 0.7;
}
.banner h1{
    font-size: 45px;
}
.banner img{
    width:415px ;
    height: 480px;
}