.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.heading-image{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size:contain ;
    background-position: top left,right bottom;

}
    .secondary-bg{
        background-color: #fff8f3;
    }

.r_style{
  color: #e4813b;
}
nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 4px 150px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
    
    gap: 20px;
    
}
.primary-button{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 11px 18px;
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    margin: 34px 150px;
}
.banner h3{
    font-size: 25px;
    opacity: 0.7;
}
.banner h1{
    font-size: 45px;
}
.banner img{
    width:415px ;
    height: 480px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: black;
}
.section-details{
    font-size: 18px;
    color: rgb(109, 99, 99);
}
main{
    max-width: 1160px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    text-align: center;
    padding: 110px 130px;
    margin-top: 120px;
 
}
.about-items{
    display: flex;
    justify-content: space-around;
    
}
.item-title{
    opacity: 0.5;
}
.item-des{
    font-size:25px;
    font-weight: bold;
}
.what-i-do{
    margin-top: 100px;
}
.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    
    margin-top: 50px;
    
}
.single-skill{
    padding: 50px;
    box-shadow: 0 5px 50px 0px rgb(228, 223, 223);
  
}
.text-center{
text-align: center;
}
.resume-content{
    display: flex;
   gap: 26px;
    
}